h1 {

}

.footer {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.CenterText  {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}