h1 {

}

.footer {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#indexTableContents {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#AboutMeCenterText {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}